@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poetsen+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-poke: "Poetsen One", sans-serif;
  --font-lexend: "Lexend", sans-serif;

  --drop-shadow-poke-footer: 0px -4px 3px rgba(0, 0, 0, 0.15);

  --color-poke-blue: #2873b3;
  --color-poke-yellow: #f8d520;
  --color-poke-red: #f03d42;
  --color-poke-green: #2cb625;
  --color-pokedex-bg: #d92c36;

  --color-poke-blue-50: #f7fafd;
  --color-poke-blue-100: #eaf3fa;
  --color-poke-blue-200: #d5e7f6;
  --color-poke-blue-300: #b4d3ee;
  --color-poke-blue-400: #69a7dd;
  --color-poke-blue-500: #2b7abf;
  --color-poke-blue-600: #1f5889;
  --color-poke-blue-700: #174064;
  --color-poke-blue-800: #0d253a;
  --color-poke-blue-900: #07131d;
  --color-poke-blue-950: #040b11;
  --color-poke-yellow-50: #fffdf5;
  --color-poke-yellow-100: #fefae6;
  --color-poke-yellow-200: #fdf5ce;
  --color-poke-yellow-300: #fceea6;
  --color-poke-yellow-400: #f9dd4d;
  --color-poke-yellow-500: #e4bf07;
  --color-poke-yellow-600: #a38905;
  --color-poke-yellow-700: #776404;
  --color-poke-yellow-800: #453a02;
  --color-poke-yellow-900: #231d01;
  --color-poke-yellow-950: #141101;
  --color-poke-red-50: #fef6f6;
  --color-poke-red-100: #fde7e8;
  --color-poke-red-200: #fbd0d1;
  --color-poke-red-300: #f9aaac;
  --color-poke-red-400: #f2545a;
  --color-poke-red-500: #da1017;
  --color-poke-red-600: #9d0c11;
  --color-poke-red-700: #72090c;
  --color-poke-red-800: #420507;
  --color-poke-red-900: #210204;
  --color-poke-red-950: #130102;
  --color-poke-green-50: #f7fdf7;
  --color-poke-green-100: #ebfbea;
  --color-poke-green-200: #d6f6d5;
  --color-poke-green-300: #b6efb3;
  --color-poke-green-400: #6de067;
  --color-poke-green-500: #30c328;
  --color-poke-green-600: #228c1d;
  --color-poke-green-700: #196615;
  --color-poke-green-800: #0e3b0c;
  --color-poke-green-900: #071e06;
  --color-poke-green-950: #041103;
}
